body{
    margin:0px;
    background-size:100%;
    background-color:white;
    background:url("img/intro.jpg") no-repeat;
    background-attachment: fixed;
    background-position: 20% 90%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    font-family:'Merriweather',Arial,"宋体";
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6)
}
.head{
    margin:110px 47% auto 46%;
    padding: 0px;
    width: 108px;
    height: 108px;
    color: white;
    display: block;
    float:left;
    position:relative;
    border-radius: 80px;
    border: 3px solid;
    overflow: hidden;
    background: rgb(160,165,170) no-repeat center;
    background-size: cover;
}
.head-section{
    padding: 0;
    color: white;
    display: block;
    position:absolute;
    border-radius: 80px;
    overflow: hidden;
    background: inherit;
}
.intro img
{
    width:65%;
    height:60%;
}

.intro{
    margin: 20px auto auto 41%;
    padding: 0px;
    width: 300px;
    height: 200px;
    color: white;
    display: block;
    float:left;
    position:relative;
    font-size: large;
    text-align: center;

}
.background{
    padding: 0;
    width: 100%;
    height: 970px;
    color: white;
    display: block;
    float:left;
}
.homeSchool{
    background: inherit;
    padding: 0;
    width: 100%;
    height: 970px;
    color: white;
    display: block;
    float:left;
    position:relative;
    border:1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    background-color: rgba(255,255,255,1);
    left:-5px;
    z-index: 1;
}
.homeSchool-white{

    padding: 0;
    top:-8px;
    width: 100%;
    height: 970px;
    color: white;
    display: block;
    position:absolute;
    border:1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    background: inherit;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
    z-index: 1;
}
.homeSchool-section1{
    background-color: rgba(255,255,255,0.15);
    padding: 0px;
    width: 48%;
    height: 970px;
    color: white;
    display: block;
    float:left;
    position:relative;
    z-index: 3;
    filter: blur(0);
}
.homeSchool-section2 {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0;
    width: 52%;
    height: 970px;
    color: white;
    display: block;
    float: right;
    position: relative;
    z-index: 3;
    filter: blur(0);
    transition-duration: 1s;
    -moz-transition-duration: 1s; /* Firefox 4 */
    -webkit-transition-duration: 1s; /* Safari 和 Chrome */
    -o-transition-duration: 1s; /* Opera */
}
.heading
{
    top: 970px;
    font-size: 3.0em;
    width:600px;
    height: 20%;
    left: 50px;
    position: absolute;

}
.heading-p
{
    top: 1110px;
    font-size: 1.5em;
    width:600px;
    height: 50%;
    left: 50px;
    position: absolute;
    line-height: 160%;
}

.heading2
{
    font-size: 2.8em;
    width:300px;
    float:left;
    height: 15%;
    margin: 120px 400px -30px 0px;
}
.heading::after
{
    content: "";
    display: block;
    clear:both;
    visibility: hidden;
}
.logo
{
    margin:9px 30px auto auto;
    padding:0;
    width:15%;
    height:60px;
    float:right;
    color: white;
    position:relative;
    font-size: 13px;
    font-weight: 100;
}
p.big
{
    line-height:170%;
    font-size: 19px;
}
p.larger
{
    line-height:170%;
    font-size: 20px;

}
*, *:after, *:before {
    box-sizing: border-box;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    opacity: 0.5;
    transition-duration: 1s;
    -moz-transition-duration: 1s; /* Firefox 4 */
    -webkit-transition-duration: 1s; /* Safari 和 Chrome */
    -o-transition-duration: 1s; /* Opera */
}
#cd-timeline:hover{
    opacity: 1;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    height: 100%;
    width: 4px;
    background: rgba(110,110,100,0.6);
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;          /*控制垂直线的位置*/
        margin-left: -2px;
    }
}

.cd-timeline-block
{
    position: relative;
    width:100%;
    height:45px;
    margin:20px auto auto auto;
}
    .cd-timeline-block:first-child {
        margin-top: -40px;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 380px;                     /*垂线距底部的长度*/
    }

.cd-timeline-img {
    position: absolute;
    width: 30px;
    height: 30px;     /*控制圆的位置*/
    border-radius: 50%;
    margin-left: -15px;
    left: 50%;
    background: white;
}
.pal-even
{
    float:left;
    background: rgba(110,110,100,0.6);
    height:4px;
    line-height: 15px;
    width:35px;
    overflow: hidden;
    margin: 14px 8px auto -13px;
    transition:width .6s;
}
.pal-odd
{
    float:right;
    background: rgba(110,110,100,0.6);
    height:4px;
    line-height: 15px;
    width:20px;
    overflow: hidden;
    margin:14px -12px auto 12px;
    transition: width .6s;
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline-content
{
    position: relative;
    width:40%;
    height:30px;
    font-size: 18px;
    opacity: 0;
    transition:width .6s,opacity .6s;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content p
{
    float:left;
}
/*控制垂直线左边元素的位置*/
    .cd-timeline-content .cd-date
    {
        position: relative;
        width:300px;
        left: 50%;
        font-size: 10px;
        background: lightblue;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content
    {
        float: right;
        padding:0;
        margin:0px auto auto auto;
        width:47%;
        line-height: 0px;
    }
.cd-timeline-block:nth-child(even):hover .cd-timeline-content
{
    opacity: 1;
}
.cd-timeline-block:nth-child(odd):hover .cd-timeline-content
{
    opacity: 1;
}

.cd-timeline-block:nth-child(odd):hover .pal-odd
{
    width:35px;
}
.cd-timeline-block:nth-child(even):hover .pal-even
{
    width:20px;
}

    .cd-timeline-block:nth-child(odd) .cd-timeline-content
    {

        float: left;
        padding:0;
        margin:0px auto auto 0px;
        text-align:right;
        width:47%;
        line-height: 0px;
    }
    .cd-timeline-block:nth-child(even) .cd-date
    {
        float:left;
        margin:0px auto auto auto;
        text-align: right;
        width:47%;
        height:30px;
    }
    .cd-timeline-block:nth-child(odd) .cd-date
    {
        margin:0px auto auto auto;
        float: right;
        text-align: left;
        width:47%;
        height:30px;
    }
p.control
{
    left:80px;
    top:-5px;
}
.p-control{
   margin: 16px 18px auto auto;
}
.travel{
    background: url("img/stardust.png");
    padding: 0;
    width: 100%;
    height: 970px;
    color: white;
    display: block;
    float:left;
    position:relative;
    border:1px solid rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,1);
    left:-5px;
    z-index: 1;
}
.travel-section1{
    padding: 0;
    width: 42%;
    height: 970px;
    color: white;
    display: block;
    left: -850px;
    position:absolute;
    z-index: 3;
}
#travel-section2 {
    padding:5%;
    width: 50%;
    height: 970px;
    display: none;
    position: absolute;
    z-index: 0;
    left:1780px;
}
.travel-section3{
    margin: 90px auto auto 19%;
    width: 70%;
    height: 770px;
    color: white;
    display: block;
    float:left;
    font-size: 25px;
    line-height: 180%;
    position:relative;
    z-index: 2;
}
.photo{
    padding: 0;
    width: 100%;
    height: 1000px;
    color: black;
    display: block;
    float:left;
    position:relative;
    border:1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    background-color: rgba(255,255,255,1);
    left:-5px;
    text-shadow: 0px 0px 0px rgba(255,255,255,1);
    background: url("img/crossword.png");
    z-index: 1;
}
.photo-section{
    padding: 0;
    width: 90000px;
    height: 600px;
    position: absolute;
    display: none;
    margin: 200px auto auto 500px;
    overflow: hidden;
    z-index: 4;
}
.pad{
    width:900px;
    height:600px;
    position: relative;
    float: left;
}
.left{
    width:50px;
    height:50px;
    position: relative;
    float: left;
    border-radius: 50px;
    background-color: rgb(200,200,200);
    padding: 10px;
    margin: 10px;
}
.right{
    margin: 10px;
    width:50px;
    height:50px;
    position: relative;
    float: left;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(200,200,200);
}
.cancel{
    margin: 10px auto auto 60px;
    width:50px;
    height:50px;
    position: relative;
    float: left;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(200,200,200);
}
.photo-section1{
    margin: 100px auto auto auto;
    width: 100%;
    height: 250px;
    display: block;
    float:left;
    position:relative;
    z-index: 3;
    font-size: 1.3em;
}
.photo-section2 {
    margin: 10px auto auto 300px;
    width: 75%;
    height:240px;
    float: left;
    position: relative;
    overflow: hidden;
}
.photo-section3 {
    margin: 220px auto auto 860px;
    width: 30%;
    height:100px;
    float: left;
    position: relative;
    opacity: 1;
}
.photo-section4{
    margin: 2px;
    width: 180px;
    height:120px;
    float: left;
    position: relative;
    border-radius: 2px;
    background: white;
    transition-property: all;
    transition-duration: .8s;
    transition-timing-function: ease;
}
.photo-section5{
       opacity: 0;
       width: 20px;
       height: 120px;
       background-color: white;
       transition-property: all;
       transition-duration: .8s;
       transition-timing-function: ease;
}
.design{
    background: url("img/design.jpg");
    background-attachment: fixed;
    padding: 0;
    width: 100%;
    height: 1000px;
    color: white;
    display: block;
    float:left;
    position:relative;
    border:1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    background-color: rgba(255,255,255,1);
    left:-5px;
    z-index: 1;
}
.design-section1{
    margin: 100px auto auto auto;
    width: 50%;
    height: 1000px;
    color: white;
    display: block;
    position:absolute;
    z-index: 3;
    left: 0px;
}
.design-section2 {
    padding:300px 100px 500px 100px;
    font-size: 1.5em;
    width: 50%;
    height:1000px;
    display: block;
    position: absolute;
    z-index: 3;
    left: 780px;
    line-height: 180%;
}
.design-section3{
    margin: 200px auto auto 100px;
    padding: 50px;
    width: 700px;
    height: 1000px;
    color: white;
    display: block;
    float:left;
    position:relative;
}
.design-section4 {

    width: 260px;
    height: 140px;
    color: white;
    display: block;
    float:left;
    position:relative;
    border-radius: 5px;
    background-color: black;
    margin: 8px;
    overflow: hidden;
    border: 2px solid white;
}

#to_top
{
    width:65px;
    height:40px;
    background: rgb(55,55,55);
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    position:absolute;
    cursor:pointer;
    z-index: 20;
    opacity: 0;
    color: white;
}
.speech{
    background: url("img/design.jpg");
    background-attachment: fixed;
    background-color: white;
    padding: 0;
    width: 100%;
    height: 1000px;
    color: white;
    display: block;
    float:left;
    position:relative;
    border:1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}
.control2
{
    font-size: 14px;
}
.speech-section1
{
    background-color: rgba(255,255,255,1);
    padding:160px;
    font-size: 1.5em;
    line-height: 180%;
    color: black;
    width: 40%;
    height: 600px;
    display: block;
    float:left;
    position:relative;
    overflow: hidden;
}

.speech-section2
{
    margin: 0 auto auto 600px;
    padding: 0;
    width: 70%;
    height: 600px;
    color: white;
    display: block;
    float:left;
    position:absolute;
    background-attachment: fixed;
    border: hidden;
    background: white;
}
.speech-section
{
    background: url("img/design.jpg");
    padding: 0;
    width: 100%;
    height: 600px;
    color: white;
    display: block;
    float:left;
    position:relative;
    background-attachment: fixed;
    border-radius: 0 0 0 900px;
    z-index: 1;

}

.speech-white{
    background: inherit;
    border-radius: 0 0 0 300px;
    background-color:rgba(255,255,255,0.2);
    margin: 0;
    padding: 0;
    top:-8px;
    width: 100%;
    height: 630px;
    color: white;
    display: block;
    position:absolute;
    overflow: hidden;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
    background-attachment: fixed;
    z-index: 3;
}

.speech-section3
{
    padding: 0;
    width: 2000px;
    height: 600px;
    color: white;
    display: block;
    float:left;
    position:relative;
    background-attachment: fixed;
    background-color: white;
}
.speech-section4
{
    padding: 0;
    width: 630px;
    height: 140px;
    color: white;
    margin: 90px;
    display: block;
    float:left;
    position:relative;
    border-radius: 5px;
    box-shadow: rgb(210,210,210) 4px 4px 4px;
    border:1px solid rgb(210,210,210);
}
.lin
{
    padding: 0;
    width: 100%;
    height: 460px;
    color: white;
    display: block;
    float:left;
    position:relative;
    background: url("img/more.jpg");
    background-attachment: fixed;
}
.letter {
     background-color: white;
     background: url(img/snow.png) repeat;
     padding: 0;
     width: 100%;
     height: 1000px;
     color: white;
     display: block;
     float: left;
     position: relative;
     border: 1px solid rgba(255, 255, 255, 0.1);
     overflow: hidden;
     background-color: rgba(255, 255, 255, 1);
 }

.letter-section1
{
    font-size: 1.5em;
    line-height: 180%;
    background:inherit;
    padding: 100px;
    text-align: center;
    width: 100%;
    height: 360px;
    color: black;
    display: block;
    float:left;
    position:relative;
}
.letter-section2
{
    padding: 80px;
    font-size: 16px;
    background:white;
    width: 670px;
    height: 900px;
    color: black;
    display: block;
    float:left;
    position:absolute;
    z-index: 3;
    margin: 390px auto auto 615px;
    text-align: center;
}
.footer {
    text-align: center;
    background: url(img/concrete_wall.png) repeat;
    padding: 0;
    width: 100%;
    height: 500px;
    color: white;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}
.footer-section1 {
    text-align: center;
    padding: 80px 500px 10px 500px;
    width: 100%;
    height: 190px;
    color: grey;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}
.footer-section2 {
    margin: 10px;
    text-align: center;
    line-height: 53px;
    width: 200px;
    height: 53px;
    color: rgb(190,190,190);
    font-size: 20px;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    border:1px solid white;
    border-radius: 7px;
}
.footer-section2:hover
{
    color:white;
}
.footer-section3 {
    text-align: center;
    line-height: 160%;
    width: 50%;
    height: 150px;
    color: rgb(190,190,190);
    font-size: 20px;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}
.footer-section4 {
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}
.fly {
    margin: 1px 800px auto 920px;
    width: 54px;
    height: 54px;
    border-radius: 60px;
    padding: 8px;
    background: rgb(60,70,60);
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}

#svg1:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg2:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg3:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg4:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg5:hover
{
    background-color: grey;
    opacity: 0.7;
}#svg6:hover
 {
     background-color: grey;
     opacity: 0.7;
 }#svg7:hover
  {
      background-color: grey;
      opacity: 0.7;
  }
#svg8:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg9:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg10:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg11:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg12:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg13:hover
{
    background-color: grey;
    opacity: 0.7;
}#svg14:hover
 {
     background-color: grey;
     opacity: 0.7;
 }
#svg15:hover
{
    background-color: grey;
    opacity: 0.7;
}#svg16:hover
 {
     background-color: grey;
     opacity: 0.7;
 }
#svg17:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg18:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg19:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg20:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg21:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg22:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg23:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg24:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg25:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg26:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg27:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg28:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg29:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg30:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg31:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg32:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg33:hover
{
    background-color: grey;
    opacity: 0.7;
}
#svg1,#svg2,#svg3,#svg4,#svg5,#svg6,#svg7,#svg8,#svg9,#svg10,#svg11,#svg12,#svg13,#svg14,#svg15,#svg16,#svg17,#svg18,#svg19,#svg20,#svg21,#svg22,#svg23,#svg24
,#svg25,#svg26,#svg27,#svg28,#svg29,#svg30,#svg31,#svg32,#svg33
{
    transition-duration: .7s;
    -moz-transition-duration: .7s; /* Firefox 4 */
    -webkit-transition-duration: .7s; /* Safari 和 Chrome */
    -o-transition-duration: .7s; /* Opera */
}

.box{
    margin: 10px 500px auto 600px;
    z-index: 3;
    float: left;
    width: 700px;
    height: 15px;
    background: repeating-linear-gradient(
            45deg,
            rgb(155,95,105),
            rgb(155,95,105) 25px,
            white 15px,
            white 50px
    );
}
.box2{
    margin: 10px 500px auto 600px;
    z-index: 3;
    float: left;
    width: 15px;
    height: 900px;
    background: repeating-linear-gradient(
            45deg,
            rgb(155,95,105),
            rgb(155,95,105) 25px,
            white 15px,
            white 50px
    );
}
.box3{
    z-index: 4;
    float: left;
    margin: 0 auto auto 174px;
    width: 15px;
    height: 900px;
    background: repeating-linear-gradient(
            45deg,
            rgb(155,95,105),
            rgb(155,95,105) 25px,
            white 15px,
            white 50px
    );
}



::selection { background:rgba(150,150,150,0.6); }
::-moz-selection { background:rgba(150,150,150,0.6); }



input{
    border: 2px solid rgb(220,190,190);
    padding: 7px 0px;
    border-radius: 7px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgb(220,190,190);
    box-shadow: inset 0 1px 1px rgb(220,190,190);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus{
    border-color: rgb(175,175,175);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(175,175,175,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(175,175,175,.6);
}
.spinner {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 400px 800px auto 900px;
    background-color: #333;
     opacity: 0;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 100% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          opacity: 0;
      }
}